# Entornos Virtuales
venv/
.venv/
env/

# Archivos de bytecode de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bases de datos locales
instance/
*.sqlite
*.sqlite3
local_dev.db

# Archivos de configuración de IDEs
.vscode/
.idea/
.cursor/

# Archivos de caché de testing
.pytest_cache/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno y logs
.env
*.log

# Archivos temporales generados
listado.txt
estructura_limpia.txt
